# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
/pubspec.lock
/analysis_options.yaml
/html/
/.idea/
/.dart_tool/
*.exe
version-build.json
markdown2html
deployer.json
/sample/.obsidian/
/output/
